body {
  margin: 0;
  padding: 0;
  /* max-width: 1440px; */
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

:root{
  --yellow: #F6C90E;
  --dark-gray: #303841;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */


 .App{
   display: flex;
   flex-direction: row;
 }